#type-switcher {
    display: inline-block;  
    width: 400px;
}
    
#type-switcher label {
    display: block;
    float: left;
    width:50%;
    height:55px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding: 10px 4%;
    background: #fff;
    font-size:12px;
    line-height:1.1em;
    text-align: left;
    box-shadow:0 1px 2px rgba(0,0,0,.3);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,.3);
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.3);
    color:#0079b8;
}
#type-switcher label:hover {
    cursor: pointer;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
}
#type-switcher label:last-child {
    border-radius: 0 30px 30px 0;
}
#type-switcher [type="radio"] {
    display: none;
}
#type-switcher [type="radio"]:first-child + label {
    border-radius: 30px 0 0 30px;
    border: none;
}
#type-switcher [type="radio"]:checked + label {
    background: #eaeaeb;
    background: -moz-linear-gradient(top,  #eaeaeb 0%, #f6f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaeb), color-stop(100%,#f6f6f6));
    background: -webkit-linear-gradient(top,  #eaeaeb 0%,#f6f6f6 100%);
    background: -o-linear-gradient(top,  #eaeaeb 0%,#f6f6f6 100%);
    background: -ms-linear-gradient(top,  #eaeaeb 0%,#f6f6f6 100%);
    background: linear-gradient(to bottom,  #eaeaeb 0%,#f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaeb', endColorstr='#f6f6f6',GradientType=0 );
    /*border:1px solid rgba(0,0,0,.1);*/
    box-shadow:inset 0 2px 5px rgba(0,0,0,.15), 0 1px 0 rgba(255,255,255,1), 0 -1px 0 rgba(0,0,0,.25), inset 0 0 1px rgba(0,0,0,.2);
    -moz-box-shadow:inset 0 2px 5px rgba(0,0,0,.15), 0 1px 0 rgba(255,255,255,1), 0 -1px 0 rgba(0,0,0,.25), inset 0 0 1px rgba(0,0,0,.2);
    -webkit-box-shadow:inset 0 2px 5px rgba(0,0,0,.15), 0 1px 0 rgba(255,255,255,1), 0 -1px 0 rgba(0,0,0,.25), inset 0 0 1px rgba(0,0,0,.2);
    color:rgb(85, 85, 85);
    cursor:default;
}

#type-switcher label span.text {
    display:block;
    position:relative;
    margin-left:24px;
    top: 50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
}
#type-switcher > br {
    display:none;
}
#type-switcher label b {
    font-weight:bold !important;
}
#type-switcher label br {
    display:block !important;
}
