@import "components/reset";
@import "components/typography";
//https://css-tricks.com/snippets/css/a-guide-to-flexbox/
@mixin setup  {
    padding:0.5%;
    margin: 0.5%;
    border: thin solid black;
}

.above
{
    background-color: tan;
    @include setup;
}

.below
{
    background-color: blue;
    color: white;
    @include setup;
    clear:both;
}



.container
{
    background-color: #ccc;
    padding:2%;
    margin: 2%;
    
    .inner-container
    {
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.box
{
    background-color: teal;
    color: white;
    width: 33.333%;
    height: 50px;
   // float: left;
    padding:1.5%;
    text-align: center;
    border: 4px #ccc double;
    margin: 0%;
    // @include setup;

    &.big
    {
        height: 150px;
        
    }
}


