/****************
Reset
****************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: none; }

strong {
  font-weight: bold; }

/* micro clear fix */
.grouping:before,
.grouping:after {
  content: " ";
  display: table; }

.grouping:after {
  clear: both; }

img, iframe, video, object {
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*------------end reset.scss-------------------*/
/* typography ---------------------- */
h1 {
  font-size: 24px; }

h2 {
  font-size: 21px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 15px; }

h5 {
  font-size: 12px; }

/* typography ---------------------- */
nav.topMenu {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  /****************
  Drop Down Menu
  ****************/ }
  nav.topMenu li a, nav.topMenu span.groupMenu-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: #766e65;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    -webkit-transition: 0.15s background-color linear;
    -moz-transition: 0.15s background-color linear;
    -o-transition: 0.15s background-color linear;
    transition: 0.15s background-color linear; }
    nav.topMenu li a:focus, nav.topMenu li a:hover, nav.topMenu li a.active, nav.topMenu span.groupMenu-placeholder:focus, nav.topMenu span.groupMenu-placeholder:hover, nav.topMenu span.groupMenu-placeholder.active {
      background-color: #29a7f5;
      color: #fff; }
  nav.topMenu .primary-nav {
    float: left;
    display: block; }
    nav.topMenu .primary-nav > li {
      float: left; }
      nav.topMenu .primary-nav > li > a, nav.topMenu .primary-nav > li span {
        float: left;
        padding: 15px 0;
        width: 120px;
        border-left: 1px solid #ada791; }
    nav.topMenu .primary-nav > li:first-child > a, nav.topMenu .primary-nav span {
      border-left: none; }
  nav.topMenu .has-submenu a {
    display: block;
    padding: 10px 0;
    z-index: 10;
    position: relative; }
  nav.topMenu .has-submenu ul {
    position: absolute;
    z-index: 5;
    top: 50px;
    background-color: #fff;
    border: 1px solid #ada791;
    width: 120px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    display: none; }
  nav.topMenu .has-submenu:hover ul {
    display: block; }

/*# sourceMappingURL=full-css-menu.css.map */
